*{
	margin:0;
	padding:0;
}

#container{
	width:600px;
	height:375px;
	margin:0 auto;
	border:5px solid #fff;
	overflow:hidden;
	
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#container ul{
	list-style:none;
}

